<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Travel Journal App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="container-fluid">
  <div class="row">
    <nav class="navbar bg-light">
  <div class="col-9">
    <%= flash["notice"] %>
    <a href="/" class="btn btn-default">Home</a>
  </div>
  <div class="col-3">
    <% if @current_user %>
      Logged in as: <%= @current_user["username"] %> |
      <a href="/logout" class="btn btn-default">Logout</a>
    <% else %>
      <a href="/login" class="btn btn-default">Login</a> |
      <a href="/users/new" class="btn btn-default">Signup</a>
    <% end %>
  </div>
  </nav>

  </div>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
